apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat
  template:
    metadata:
      labels:
        app: chat
    spec:
      containers:
        - name: chat
          image: mqtt-chat-app_chat:latest
          imagePullPolicy: Never
          env:
            - name: DB_HOST
              value: chatdb
            - name: DB_USER
              value: chatuser
            - name: DB_PASSWORD
              value: chatpass
            - name: DB_NAME
              value: chatdb
            - name: MQTT_HOST
              value: mqtt
          ports:
            - containerPort: 3000

---
apiVersion: v1
kind: Service
metadata:
  name: chat-service
spec:
  selector:
    app: chat
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
  type: NodePort
